In [27]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [28]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
#preprocess the data
#drop irrelevant data

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [30]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [31]:
# Encode categorical variable

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [32]:
onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [33]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [34]:
#combining columns with the original data
data = pd.concat([data.drop('Geography',axis = 1),geo_encoded_df],axis=1)

In [35]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [36]:
#Divide the dataset into features and targets

X = data.drop('EstimatedSalary', axis=1)
Y = data['EstimatedSalary']

In [37]:
#split the data into training and testing sets

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

#scale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [38]:
# save the encoders and scaler

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

### ANN Regression Problem Statement

In [39]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [40]:
## Build ANN Model

model  = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  ## HL! Connected with input layer 1
    Dense(32,activation='relu'),  ## HL2
    Dense(1)  ## Output Layer   ## Default Activation function is linear activation function for regression
]
)

D:\Projects\ANN Classification\.venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [41]:
#compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [42]:
model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [43]:
# setup the tensorboard

log_dir = "regressionLogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [44]:
# setup early stopping

early_stopping = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [45]:
# Train the model

history = model.fit(
    X_train, Y_train, validation_split=0.2, epochs=100,
    batch_size=32, callbacks=[early_stopping,tensorflow_callback]
)

Epoch 1/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 99978.1016 - mae: 99978.1016 - val_loss: 102032.8438 - val_mae: 102032.8438
Epoch 2/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 99609.2969 - mae: 99609.2969 - val_loss: 101262.0000 - val_mae: 101262.0000
Epoch 3/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 98202.6562 - mae: 98202.6562 - val_loss: 99134.9531 - val_mae: 99134.9531
Epoch 4/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 95229.2578 - mae: 95229.2578 - val_loss: 95271.1406 - val_mae: 95271.1406
Epoch 5/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 90553.4531 - mae: 90553.4531 - val_loss: 89703.5000 - val_mae: 89703.5000
Epoch 6/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 84356.7812 - mae: 84356.7812 - val_loss: 82750.6484 - val_mae: 82750.6484
Epoch 7/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 77199.1328 - mae: 77199.1328 - val_loss: 75107.4297 - val_mae: 75107.4297
Epoch 8/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 69907.2891 - mae: 69907.2891 - val_loss: 67760.5859 - val_mae: 67760.5859
Epoch 9/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 63333.3516 - mae: 63333.3516 - val_loss: 61469.7461 - val_mae: 61469.7461
Epoch 10/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 58188.6133 - mae: 58188.6133 - val_loss: 56718.4688 - val_mae: 56718.4688
Epoch 11/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 54605.2852 - mae: 54605.2852 - val_loss: 53628.9219 - val_mae: 53628.9219
Epoch 12/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 52429.1016 - mae: 52429.1016 - val_loss: 51766.0742 - val_mae: 51766.0742
Epoch 13/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51280.8281 - mae: 51280.8281 - val_loss: 50830.9258 - val_mae: 50830.9258
Epoch 14/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50782.0859 - mae: 50782.0859 - val_loss: 50386.0703 - val_mae: 50386.0703
Epoch 15/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50543.1055 - mae: 50543.1055 - val_loss: 50178.2617 - val_mae: 50178.2617
Epoch 16/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50411.1758 - mae: 50411.1758 - val_loss: 50078.0156 - val_mae: 50078.0156
Epoch 17/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50322.4648 - mae: 50322.4648 - val_loss: 50007.6719 - val_mae: 50007.6719
Epoch 18/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50260.2148 - mae: 50260.2148 - val_loss: 49962.2109 - val_mae: 49962.2109
Epoch 19/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50207.3008 - mae: 50207.3008 - val_loss: 49938.0117 - val_mae: 49938.0117
Epoch 20/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50157.9531 - mae: 50157.9531 - val_loss: 49911.9648 - val_mae: 49911.9648
Epoch 21/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50114.7969 - mae: 50114.7969 - val_loss: 49885.6836 - val_mae: 49885.6836
Epoch 22/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50080.1992 - mae: 50080.1992 - val_loss: 49868.8906 - val_mae: 49868.8906
Epoch 23/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50044.8164 - mae: 50044.8164 - val_loss: 49845.9492 - val_mae: 49845.9492
Epoch 24/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50011.1641 - mae: 50011.1641 - val_loss: 49828.0703 - val_mae: 49828.0703
Epoch 25/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49977.4297 - mae: 49977.4297 - val_loss: 49809.3242 - val_mae: 49809.3242
Epoch 26/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49951.4062 - mae: 49951.4062 - val_loss: 49788.4609 - val_mae: 49788.4609
Epoch 27/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49923.3516 - mae: 49923.3516 - val_loss: 49775.1094 - val_mae: 49775.1094
Epoch 28/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49898.7031 - mae: 49898.7031 - val_loss: 49766.0234 - val_mae: 49766.0234
Epoch 29/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49878.8047 - mae: 49878.8047 - val_loss: 49742.5742 - val_mae: 49742.5742
Epoch 30/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49851.2617 - mae: 49851.2617 - val_loss: 49735.1094 - val_mae: 49735.1094
Epoch 31/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49836.0469 - mae: 49836.0469 - val_loss: 49721.3242 - val_mae: 49721.3242
Epoch 32/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49813.3867 - mae: 49813.3867 - val_loss: 49716.2031 - val_mae: 49716.2031
Epoch 33/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49797.9219 - mae: 49797.9219 - val_loss: 49702.6562 - val_mae: 49702.6562
Epoch 34/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49778.9258 - mae: 49778.9258 - val_loss: 49700.0000 - val_mae: 49700.0000
Epoch 35/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49762.9453 - mae: 49762.9453 - val_loss: 49690.8867 - val_mae: 49690.8867
Epoch 36/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49749.5742 - mae: 49749.5742 - val_loss: 49682.0469 - val_mae: 49682.0469
Epoch 37/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49729.0586 - mae: 49729.0586 - val_loss: 49676.4688 - val_mae: 49676.4688
Epoch 38/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49718.9102 - mae: 49718.9102 - val_loss: 49670.9805 - val_mae: 49670.9805
Epoch 39/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49703.3789 - mae: 49703.3789 - val_loss: 49661.0742 - val_mae: 49661.0742
Epoch 40/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49688.2656 - mae: 49688.2656 - val_loss: 49653.5156 - val_mae: 49653.5156
Epoch 41/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49674.8359 - mae: 49674.8359 - val_loss: 49650.9102 - val_mae: 49650.9102
Epoch 42/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49663.2852 - mae: 49663.2852 - val_loss: 49644.7266 - val_mae: 49644.7266
Epoch 43/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49649.7031 - mae: 49649.7031 - val_loss: 49644.9141 - val_mae: 49644.9141
Epoch 44/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49638.3281 - mae: 49638.3281 - val_loss: 49644.0859 - val_mae: 49644.0859
Epoch 45/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49627.7695 - mae: 49627.7695 - val_loss: 49637.0508 - val_mae: 49637.0508
Epoch 46/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49616.6797 - mae: 49616.6797 - val_loss: 49636.6836 - val_mae: 49636.6836
Epoch 47/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49603.6250 - mae: 49603.6250 - val_loss: 49631.6367 - val_mae: 49631.6367
Epoch 48/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49596.8086 - mae: 49596.8086 - val_loss: 49626.4648 - val_mae: 49626.4648
Epoch 49/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49588.2812 - mae: 49588.2812 - val_loss: 49622.1914 - val_mae: 49622.1914
Epoch 50/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49579.5859 - mae: 49579.5859 - val_loss: 49622.9805 - val_mae: 49622.9805
Epoch 51/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49567.8555 - mae: 49567.8555 - val_loss: 49621.5039 - val_mae: 49621.5039
Epoch 52/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49556.4492 - mae: 49556.4492 - val_loss: 49617.9883 - val_mae: 49617.9883
Epoch 53/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49550.9219 - mae: 49550.9219 - val_loss: 49620.7852 - val_mae: 49620.7852
Epoch 54/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49541.5391 - mae: 49541.5391 - val_loss: 49612.2617 - val_mae: 49612.2617
Epoch 55/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49534.3281 - mae: 49534.3281 - val_loss: 49613.7344 - val_mae: 49613.7344
Epoch 56/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49525.6992 - mae: 49525.6992 - val_loss: 49617.5156 - val_mae: 49617.5156
Epoch 57/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49519.7148 - mae: 49519.7148 - val_loss: 49616.2656 - val_mae: 49616.2656
Epoch 58/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49512.2188 - mae: 49512.2188 - val_loss: 49608.9609 - val_mae: 49608.9609
Epoch 59/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49507.8359 - mae: 49507.8359 - val_loss: 49611.3945 - val_mae: 49611.3945
Epoch 60/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49499.7031 - mae: 49499.7031 - val_loss: 49610.1406 - val_mae: 49610.1406
Epoch 61/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49491.6602 - mae: 49491.6602 - val_loss: 49612.5508 - val_mae: 49612.5508
Epoch 62/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49483.7695 - mae: 49483.7695 - val_loss: 49611.8516 - val_mae: 49611.8516
Epoch 63/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49476.3984 - mae: 49476.3984 - val_loss: 49609.5664 - val_mae: 49609.5664
Epoch 64/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49469.6992 - mae: 49469.6992 - val_loss: 49613.4961 - val_mae: 49613.4961
Epoch 65/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49462.4336 - mae: 49462.4336 - val_loss: 49610.4805 - val_mae: 49610.4805
Epoch 66/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49458.4102 - mae: 49458.4102 - val_loss: 49609.8086 - val_mae: 49609.8086
Epoch 67/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49449.9141 - mae: 49449.9141 - val_loss: 49606.7188 - val_mae: 49606.7188
Epoch 68/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49447.0000 - mae: 49447.0000 - val_loss: 49608.8008 - val_mae: 49608.8008
Epoch 69/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49441.4219 - mae: 49441.4219 - val_loss: 49613.5156 - val_mae: 49613.5156
Epoch 70/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49432.7812 - mae: 49432.7812 - val_loss: 49608.0703 - val_mae: 49608.0703
Epoch 71/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49426.7109 - mae: 49426.7109 - val_loss: 49606.5000 - val_mae: 49606.5000
Epoch 72/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49423.2109 - mae: 49423.2109 - val_loss: 49614.3047 - val_mae: 49614.3047
Epoch 73/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49418.1719 - mae: 49418.1719 - val_loss: 49616.7695 - val_mae: 49616.7695
Epoch 74/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49412.5117 - mae: 49412.5117 - val_loss: 49609.0469 - val_mae: 49609.0469
Epoch 75/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49405.6719 - mae: 49405.6719 - val_loss: 49609.3086 - val_mae: 49609.3086
Epoch 76/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49402.3164 - mae: 49402.3164 - val_loss: 49609.3750 - val_mae: 49609.3750
Epoch 77/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49395.6992 - mae: 49395.6992 - val_loss: 49614.0781 - val_mae: 49614.0781
Epoch 78/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49396.1211 - mae: 49396.1211 - val_loss: 49614.7891 - val_mae: 49614.7891
Epoch 79/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49386.8711 - mae: 49386.8711 - val_loss: 49619.7969 - val_mae: 49619.7969
Epoch 80/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49385.1250 - mae: 49385.1250 - val_loss: 49616.7656 - val_mae: 49616.7656
Epoch 81/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49380.0586 - mae: 49380.0586 - val_loss: 49619.9805 - val_mae: 49619.9805

In [46]:
#load tensorboard extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [47]:
%tensorboard --logdir regressionLogs/fit

In [49]:
# Evaluate the model on the test data

test_loss, test_mae = model.evaluate(X_test, Y_test)
print('Test MAE:', test_mae)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50367.4883 - mae: 50367.4883
Test MAE: 50367.48828125

In [50]:
model = model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.